In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, from_json, regexp_replace
from pyspark.sql.types import ArrayType, StructType, StructField, IntegerType, StringType

# stop any existing Spark session, if Spark is already running, creating a new session might fail ***
try:
    spark.stop()
except Exception:
    pass

# create session with adjusted memory settings based on your cluster
# .config("spark.local.dir", r"E:\Apache Spark\spark-temp"): change the spark local dir, as the c disk memory is not enough, may cause Py4JJavaError exception ***
spark = SparkSession.builder.appName("MovieRecommender_Movielens") \
    .config("spark.executor.memory", "32g") \
    .config("spark.driver.memory", "16g") \
    .config("spark.local.dir", r"E:\Apache Spark\spark-temp") \
    .getOrCreate()

In [2]:
spark

### Analyze Movie CSV

In [3]:
movies = spark.read \
    .format("csv") \
    .option("sep", ",") \
    .option("header", "true") \
    .option("encoding", "utf-8") \
    .option("mode", "DROPMALFORMED") \
    .load("../data/MovieLens 20M Dataset/movie.csv")

In [4]:
movies = movies.withColumnRenamed('movieId', 'movie_id')

In [5]:
movies.show()

+--------+--------------------+--------------------+
|movie_id|               title|              genres|
+--------+--------------------+--------------------+
|       1|    Toy Story (1995)|Adventure|Animati...|
|       2|      Jumanji (1995)|Adventure|Childre...|
|       3|Grumpier Old Men ...|      Comedy|Romance|
|       4|Waiting to Exhale...|Comedy|Drama|Romance|
|       5|Father of the Bri...|              Comedy|
|       6|         Heat (1995)|Action|Crime|Thri...|
|       7|      Sabrina (1995)|      Comedy|Romance|
|       8| Tom and Huck (1995)|  Adventure|Children|
|       9| Sudden Death (1995)|              Action|
|      10|    GoldenEye (1995)|Action|Adventure|...|
|      11|American Presiden...|Comedy|Drama|Romance|
|      12|Dracula: Dead and...|       Comedy|Horror|
|      13|        Balto (1995)|Adventure|Animati...|
|      14|        Nixon (1995)|               Drama|
|      15|Cutthroat Island ...|Action|Adventure|...|
|      16|       Casino (1995)|         Crime|Drama|
|      17|Sense and Sensibi...|       Drama|Romance|
|      18|   Four Rooms (1995)|              Comedy|
|      19|Ace Ventura: When...|              Comedy|
|      20|  Money Train (1995)|Action|Comedy|Cri...|
+--------+--------------------+--------------------+
only showing top 20 rows

In [6]:
movies_num_rows = movies.count()
movies_num_cols = len(movies.columns)
print(movies_num_rows, movies_num_cols)

27278 3

### Analyze Ratings CSV

In [7]:
ratings = spark.read \
    .format("csv") \
    .option("sep", ",") \
    .option("header", "true") \
    .option("encoding", "utf-8") \
    .option("mode", "DROPMALFORMED") \
    .load("../data/MovieLens 20M Dataset/rating.csv")

In [8]:
rename_dict = {
    "userId": "user_id",
    "movieId": "movie_id"
}


for old_name, new_name in rename_dict.items():
    ratings = ratings.withColumnRenamed(old_name, new_name)

In [9]:
ratings.show()

+-------+--------+------+-------------------+
|user_id|movie_id|rating|          timestamp|
+-------+--------+------+-------------------+
|      1|       2|   3.5|2005-04-02 23:53:47|
|      1|      29|   3.5|2005-04-02 23:31:16|
|      1|      32|   3.5|2005-04-02 23:33:39|
|      1|      47|   3.5|2005-04-02 23:32:07|
|      1|      50|   3.5|2005-04-02 23:29:40|
|      1|     112|   3.5|2004-09-10 03:09:00|
|      1|     151|     4|2004-09-10 03:08:54|
|      1|     223|     4|2005-04-02 23:46:13|
|      1|     253|     4|2005-04-02 23:35:40|
|      1|     260|     4|2005-04-02 23:33:46|
|      1|     293|     4|2005-04-02 23:31:43|
|      1|     296|     4|2005-04-02 23:32:47|
|      1|     318|     4|2005-04-02 23:33:18|
|      1|     337|   3.5|2004-09-10 03:08:29|
|      1|     367|   3.5|2005-04-02 23:53:00|
|      1|     541|     4|2005-04-02 23:30:03|
|      1|     589|   3.5|2005-04-02 23:45:57|
|      1|     593|   3.5|2005-04-02 23:31:01|
|      1|     653|     3|2004-09-10 03:08:11|
|      1|     919|   3.5|2004-09-10 03:07:01|
+-------+--------+------+-------------------+
only showing top 20 rows

In [10]:
ratings = ratings.sample(fraction=0.5, seed=42) # remove half of the data in rating.csv

In [11]:
print(ratings.count())

9997614

In [12]:
from pyspark.sql.functions import col  # the count is every user's rating counting

rating_count = ratings.groupBy("user_id") \
       .count() \
       .orderBy(col("count"), ascending=False)

rating_count.show()

+-------+-----+
|user_id|count|
+-------+-----+
| 118205| 4704|
|   8405| 3734|
|  82418| 2821|
| 121535| 2768|
|  74142| 2741|
| 125794| 2673|
|  34576| 2660|
| 131904| 2649|
|  83090| 2568|
|  59477| 2458|
| 130767| 2445|
|  79159| 2417|
|   8963| 2282|
|  15617| 2140|
|  92011| 2125|
|  88820| 2079|
|  46470| 2060|
|  20132| 2044|
|  71975| 2042|
| 120575| 1981|
+-------+-----+
only showing top 20 rows

In [13]:
rating_count_nums_row = rating_count.count()
print(rating_count_nums_row)

138388

In [14]:
rating_count = rating_count.filter(rating_count['count'] > 200)

In [15]:
rating_count_nums_row = rating_count.count()
print(rating_count_nums_row)

10639

In [16]:
user_ids = rating_count.select("user_id")

user_id_list = [row['user_id'] for row in user_ids.collect()]  # get the user id list

In [17]:
user_id_list

['118205',
 '8405',
 '82418',
 '121535',
 '74142',
 '125794',
 '34576',
 '131904',
 '83090',
 '59477',
 '130767',
 '79159',
 '8963',
 '15617',
 '92011',
 '88820',
 '46470',
 '20132',
 '71975',
 '120575',
 '63147',
 '9544',
 '130459',
 '18611',
 '68026',
 '91193',
 '111549',
 '31122',
 '125978',
 '51703',
 '41267',
 '18138',
 '35128',
 '70201',
 '92269',
 '105580',
 '136268',
 '54465',
 '14705',
 '114406',
 '12131',
 '24688',
 '53346',
 '67346',
 '131347',
 '26867',
 '119048',
 '107326',
 '129583',
 '131894',
 '27469',
 '123606',
 '86529',
 '7201',
 '22901',
 '91867',
 '61168',
 '107640',
 '24219',
 '68063',
 '97853',
 '128309',
 '32344',
 '76630',
 '62812',
 '103223',
 '79531',
 '51558',
 '92956',
 '128258',
 '80092',
 '43194',
 '59414',
 '113668',
 '72008',
 '106441',
 '52260',
 '50297',
 '118754',
 '119531',
 '116317',
 '33736',
 '52009',
 '122995',
 '116189',
 '66763',
 '117144',
 '31404',
 '135425',
 '137202',
 '64843',
 '42204',
 '131961',
 '3907',
 '95301',
 '42929',
 '2261',
 '58953',
 '27053',
 '49554',
 '69793',
 '903',
 '23173',
 '4222',
 '101044',
 '73611',
 '99754',
 '32514',
 '52636',
 '133811',
 '4358',
 '134567',
 '16676',
 '110758',
 '34651',
 '89307',
 '80920',
 '72983',
 '55765',
 '116361',
 '34856',
 '75810',
 '59407',
 '137277',
 '9034',
 '60159',
 '100366',
 '54305',
 '17040',
 '21398',
 '102888',
 '57735',
 '66836',
 '131651',
 '10303',
 '75678',
 '51199',
 '112988',
 '40058',
 '43545',
 '26193',
 '81186',
 '75299',
 '104345',
 '25101',
 '133372',
 '24830',
 '89242',
 '3318',
 '25978',
 '33082',
 '77696',
 '100134',
 '45987',
 '65401',
 '21163',
 '98865',
 '39181',
 '104043',
 '15478',
 '70936',
 '15486',
 '21391',
 '9087',
 '33349',
 '62040',
 '134773',
 '982',
 '6719',
 '138208',
 '121930',
 '106939',
 '58069',
 '113081',
 '66263',
 '89495',
 '60887',
 '110706',
 '54107',
 '10761',
 '41079',
 '37317',
 '134401',
 '91349',
 '89299',
 '21861',
 '123352',
 '46396',
 '120948',
 '50943',
 '62160',
 '80668',
 '76292',
 '68575',
 '67527',
 '73026',
 '741',
 '80771',
 '113991',
 '90968',
 '137686',
 '156',
 '135090',
 '51075',
 '101861',
 '65304',
 '67443',
 '92499',
 '137343',
 '86839',
 '130622',
 '29499',
 '66810',
 '66617',
 '18628',
 '42096',
 '89402',
 '124831',
 '96370',
 '98420',
 '24661',
 '72401',
 '79366',
 '54113',
 '101127',
 '59852',
 '123297',
 '41613',
 '53998',
 '16938',
 '113806',
 '106676',
 '12767',
 '80207',
 '103654',
 '116302',
 '136599',
 '81706',
 '68558',
 '113209',
 '37253',
 '66533',
 '78356',
 '98206',
 '53640',
 '127256',
 '102911',
 '75469',
 '109883',
 '41283',
 '44241',
 '83275',
 '52877',
 '19590',
 '43384',
 '39214',
 '17333',
 '117395',
 '15701',
 '6636',
 '130191',
 '23061',
 '104347',
 '95254',
 '129540',
 '27482',
 '116498',
 '114412',
 '119367',
 '102025',
 '76155',
 '11719',
 '10678',
 '775',
 '45015',
 '113610',
 '47439',
 '63046',
 '105498',
 '62925',
 '3797',
 '6373',
 '41638',
 '11900',
 '93152',
 '102680',
 '93234',
 '127138',
 '59544',
 '91626',
 '34587',
 '85926',
 '10514',
 '76437',
 '133133',
 '35227',
 '60018',
 '69683',
 '107356',
 '116263',
 '112762',
 '65529',
 '14280',
 '32094',
 '4507',
 '16606',
 '80185',
 '99342',
 '35109',
 '48677',
 '9545',
 '101458',
 '66649',
 '120572',
 '15718',
 '99499',
 '50168',
 '57716',
 '80886',
 '84476',
 '56504',
 '84849',
 '106906',
 '21070',
 '3858',
 '31181',
 '68358',
 '42032',
 '60361',
 '94377',
 '136054',
 '9930',
 '33402',
 '768',
 '77884',
 '108248',
 '51507',
 '97826',
 '131275',
 '64060',
 '18706',
 '114624',
 '5843',
 '114095',
 '66401',
 '13064',
 '74054',
 '110858',
 '115606',
 '23523',
 '67075',
 '16865',
 '21078',
 '28398',
 '27278',
 '24127',
 '23599',
 '91893',
 '135795',
 '16162',
 '104063',
 '112365',
 '111959',
 '137037',
 '113075',
 '102038',
 '19711',
 '32984',
 '42369',
 '4967',
 '87561',
 '118955',
 '23190',
 '89364',
 '18191',
 '115811',
 '42069',
 '46744',
 '130477',
 '50367',
 '77018',
 '76213',
 '121894',
 '18415',
 '74937',
 '3284',
 '110826',
 '54494',
 '117315',
 '138325',
 '8805',
 '29037',
 '49817',
 '10443',
 '52116',
 '77247',
 '11434',
 '49212',
 '70379',
 '96601',
 '60762',
 '13494',
 '40483',
 '134690',
 '81487',
 '113181',
 '6099',
 '105357',
 '70816',
 '28195',
 '12644',
 '97602',
 '136875',
 '103986',
 '25411',
 '38335',
 '10321',
 '27054',
 '106308',
 '124633',
 '23180',
 '134497',
 '29575',
 '78308',
 '7828',
 '94259',
 '117948',
 '59873',
 '60181',
 '9562',
 '119271',
 '118848',
 '137885',
 '8647',
 '15529',
 '86722',
 '81267',
 '11081',
 '48644',
 '2397',
 '88738',
 '35282',
 '85640',
 '116556',
 '29069',
 '61696',
 '108142',
 '4276',
 '3397',
 '76737',
 '32632',
 '108967',
 '55479',
 '88773',
 '53853',
 '110847',
 '122436',
 '76972',
 '103291',
 '95501',
 '111880',
 '118999',
 '97533',
 '13623',
 '125178',
 '105588',
 '124339',
 '43296',
 '38160',
 '58426',
 '45815',
 '94976',
 '100781',
 '52439',
 '44654',
 '135155',
 '35834',
 '58667',
 '110190',
 '130987',
 '74289',
 '96750',
 '114579',
 '18354',
 '4450',
 '128690',
 '41517',
 '94013',
 '7699',
 '50746',
 '104916',
 '135033',
 '42228',
 '51227',
 '63834',
 '84480',
 '89081',
 '90186',
 '97860',
 '27041',
 '62762',
 '80391',
 '84752',
 '121870',
 '61729',
 '74028',
 '81583',
 '92919',
 '23459',
 '71170',
 '51978',
 '80501',
 '104824',
 '12793',
 '23055',
 '32161',
 '1849',
 '34494',
 '39497',
 '37042',
 '13753',
 '120450',
 '34202',
 '44492',
 '53830',
 '96684',
 '121436',
 '126395',
 '55556',
 '99386',
 '122310',
 '3289',
 '78104',
 '50045',
 '64572',
 '27666',
 '103028',
 '43317',
 '41929',
 '49205',
 '13285',
 '56847',
 '92637',
 '120379',
 '42692',
 '93387',
 '111088',
 '125849',
 '10989',
 '109744',
 '109745',
 '77999',
 '114805',
 '29656',
 '127453',
 '32717',
 '54549',
 '70877',
 '13730',
 '39583',
 '83343',
 '114270',
 '15720',
 '17455',
 '71315',
 '118534',
 '10164',
 '51616',
 '11902',
 '42886',
 '92516',
 '3664',
 '29056',
 '126269',
 '34899',
 '52075',
 '78740',
 '94541',
 '103861',
 '116900',
 '76540',
 '79357',
 '100349',
 '126072',
 '58612',
 '63459',
 '102098',
 '118106',
 '9145',
 '72929',
 '82134',
 '127501',
 '72421',
 '74222',
 '66201',
 '113073',
 '3625',
 '83331',
 '68710',
 '123514',
 '136989',
 '3629',
 '39382',
 '112832',
 '20845',
 '49229',
 '129159',
 '41160',
 '80099',
 '110227',
 '28688',
 '55389',
 '68214',
 '110991',
 '122364',
 '1763',
 '119148',
 '67544',
 '38988',
 '53930',
 '59702',
 '39099',
 '54259',
 '128077',
 '107579',
 '48904',
 '117054',
 '29879',
 '50566',
 '60518',
 '65180',
 '87283',
 '105161',
 '114570',
 '586',
 '23333',
 '112203',
 '8541',
 '66023',
 '97176',
 '111523',
 '14994',
 '38756',
 '42429',
 '110656',
 '115115',
 '37530',
 '55726',
 '63643',
 '2762',
 '134637',
 '15497',
 '13666',
 '34440',
 '37925',
 '35514',
 '15585',
 '52225',
 '41281',
 '91643',
 '99781',
 '134175',
 '7321',
 '9175',
 '55076',
 '103181',
 '114659',
 '62375',
 '88312',
 '8966',
 '25345',
 '43188',
 '39766',
 '58648',
 '82788',
 '88604',
 '67996',
 '75012',
 '97141',
 '42353',
 '68796',
 '33185',
 '44296',
 '67303',
 '71928',
 '109933',
 '127713',
 '12044',
 '24719',
 '34402',
 '37423',
 '48527',
 '89703',
 '109286',
 '88804',
 '96600',
 '13955',
 '55237',
 '85190',
 '128047',
 '9690',
 '43209',
 '81000',
 '122980',
 '14512',
 '29310',
 '74966',
 '77007',
 '86736',
 '110004',
 '123327',
 '131910',
 '105216',
 '114898',
 '26582',
 '90078',
 '4347',
 '27531',
 '45637',
 '90500',
 '30507',
 '43945',
 '60923',
 '69378',
 '23039',
 '48568',
 '80034',
 '43525',
 '63219',
 '78453',
 '79393',
 '30317',
 '96780',
 '110307',
 '116960',
 '4129',
 '49999',
 '56720',
 '62984',
 '18907',
 '28860',
 '37264',
 '121543',
 '134210',
 '132082',
 '8739',
 '52457',
 '100712',
 '113487',
 '126661',
 '22688',
 '63071',
 '41070',
 '118882',
 '125270',
 '64271',
 '62222',
 '38539',
 '50603',
 '73074',
 '125008',
 '52520',
 '76625',
 '86066',
 '572',
 '10389',
 '55420',
 '103856',
 '130019',
 '31244',
 '55848',
 '78362',
 '121516',
 '127719',
 '134328',
 '74628',
 '132603',
 '124052',
 '41859',
 '64191',
 '87428',
 '94090',
 '107572',
 '122035',
 '11560',
 '20372',
 '66088',
 '122134',
 '135071',
 '11794',
 '95726',
 '100556',
 '132039',
 '25676',
 '26623',
 '79071',
 '9116',
 '68341',
 '83556',
 '99448',
 '24816',
 '60427',
 '83959',
 '98470',
 '6921',
 '56879',
 '69850',
 '24945',
 '49208',
 '66143',
 '5576',
 '359',
 '25093',
 '21664',
 '25511',
 '22205',
 '38251',
 '63858',
 '82908',
 '102705',
 '111139',
 '133329',
 '3576',
 '39346',
 '103998',
 '129746',
 '127871',
 '46545',
 '83823',
 '96225',
 '94628',
 '114933',
 '126067',
 '13964',
 '26162',
 '95932',
 '129805',
 '131227',
 '14908',
 '12026',
 '69662',
 '86741',
 '93018',
 '93219',
 '33575',
 '56520',
 '66049',
 '95216',
 '20246',
 '42640',
 '80989',
 '93227',
 '31503',
 '56257',
 '76486',
 '119675',
 '118344',
 '130193',
 '16612',
 '66362',
 '77297',
 '110130',
 '119677',
 '116590',
 '35609',
 '66837',
 '109152',
 '123601',
 '1966',
 '28916',
 '54447',
 '73882',
 '119661',
 '123754',
 '125585',
 '69124',
 '95239',
 '42913',
 '47542',
 '57727',
 '61496',
 '128893',
 '20294',
 '99360',
 '120312',
 '122704',
 '23317',
 '32671',
 '40008',
 '93710',
 '105059',
 '115870',
 '48929',
 '64150',
 '70025',
 '107126',
 '136806',
 '208',
 '119013',
 '22411',
 '51245',
 '44384',
 '75448',
 '132187',
 '52661',
 '23130',
 '32861',
 '37145',
 '50211',
 '61610',
 '122534',
 '17320',
 '34650',
 '127063',
 '28529',
 '114531',
 '10616',
 '68892',
 '88024',
 '88228',
 '7036',
 '28611',
 '62051',
 '24691',
 '49024',
 '4084',
 '15203',
 '12158',
 '24800',
 '108195',
 '15601',
 '34700',
 '74241',
 '99937',
 '132386',
 '6976',
 '18390',
 '87062',
 '6366',
 '11074',
 '104349',
 '101275',
 '70770',
 '88795',
 '120290',
 '122860',
 '2669',
 '39154',
 '75141',
 '95327',
 '127450',
 '133925',
 '131746',
 '22122',
 '10759',
 '74136',
 '101110',
 '120666',
 '7051',
 '1507',
 '25960',
 '46645',
 '66317',
 '87094',
 '79662',
 '112852',
 '118416',
 '123817',
 '134156',
 '10627',
 '65431',
 '88176',
 '48410',
 '62779',
 '31681',
 '36594',
 '69829',
 '131698',
 '2657',
 '6112',
 '31838',
 '43657',
 '96859',
 '43427',
 '52685',
 '58170',
 '84108',
 '87135',
 '127840',
 '18471',
 '101165',
 '108028',
 '128527',
 '19776',
 '34632',
 '38965',
 '38267',
 '129005',
 '31712',
 '15616',
 ...]

In [18]:
# filters the ratings DataFrame to include only rows with user IDs that are in y—that is, 
# only ratings by users with more than 200 ratings.
ratings = ratings.filter(ratings.user_id.isin(user_id_list))

In [19]:
ratings.show()

+-------+--------+------+-------------------+
|user_id|movie_id|rating|          timestamp|
+-------+--------+------+-------------------+
|     11|       1|   4.5|2009-01-02 01:13:41|
|     11|      10|   2.5|2009-01-02 01:15:59|
|     11|      19|   3.5|2009-01-01 04:21:44|
|     11|      65|     2|2009-01-02 00:37:29|
|     11|     150|     5|2009-01-01 04:49:03|
|     11|     153|   3.5|2009-01-02 01:15:14|
|     11|     158|     4|2009-01-01 23:52:53|
|     11|     160|     4|2009-01-01 05:27:01|
|     11|     173|     5|2009-01-01 05:49:14|
|     11|     185|     4|2009-01-02 01:16:55|
|     11|     208|   4.5|2009-01-01 05:31:10|
|     11|     260|     5|2009-01-01 05:26:00|
|     11|     316|   3.5|2009-01-01 05:41:36|
|     11|     318|     5|2009-01-01 22:56:11|
|     11|     377|     4|2009-01-02 01:14:40|
|     11|     384|   3.5|2009-01-01 04:59:27|
|     11|     441|   1.5|2009-01-01 23:52:42|
|     11|     442|   4.5|2009-01-01 05:33:22|
|     11|     480|     5|2009-01-01 05:45:13|
|     11|     541|   4.5|2009-01-01 05:25:03|
+-------+--------+------+-------------------+
only showing top 20 rows

In [20]:
print(ratings.count())

3994581

### Integrate Movies and Ratings Data and Analyze them

In [43]:
# join the ratings with the movies
ratings_with_movies = ratings.join(movies, on="movie_id", how="inner")

In [44]:
ratings_with_movies.show()

+--------+-------+------+-------------------+--------------------+--------------------+
|movie_id|user_id|rating|          timestamp|               title|              genres|
+--------+-------+------+-------------------+--------------------+--------------------+
|       1|     11|   4.5|2009-01-02 01:13:41|    Toy Story (1995)|Adventure|Animati...|
|      10|     11|   2.5|2009-01-02 01:15:59|    GoldenEye (1995)|Action|Adventure|...|
|      19|     11|   3.5|2009-01-01 04:21:44|Ace Ventura: When...|              Comedy|
|      65|     11|     2|2009-01-02 00:37:29|     Bio-Dome (1996)|              Comedy|
|     150|     11|     5|2009-01-01 04:49:03|    Apollo 13 (1995)|Adventure|Drama|IMAX|
|     153|     11|   3.5|2009-01-02 01:15:14|Batman Forever (1...|Action|Adventure|...|
|     158|     11|     4|2009-01-01 23:52:53|       Casper (1995)|  Adventure|Children|
|     160|     11|     4|2009-01-01 05:27:01|        Congo (1995)|Action|Adventure|...|
|     173|     11|     5|2009-01-01 05:49:14|  Judge Dredd (1995)| Action|Crime|Sci-Fi|
|     185|     11|     4|2009-01-02 01:16:55|     Net, The (1995)|Action|Crime|Thri...|
|     208|     11|   4.5|2009-01-01 05:31:10|   Waterworld (1995)|Action|Adventure|...|
|     260|     11|     5|2009-01-01 05:26:00|Star Wars: Episod...|Action|Adventure|...|
|     316|     11|   3.5|2009-01-01 05:41:36|     Stargate (1994)|Action|Adventure|...|
|     318|     11|     5|2009-01-01 22:56:11|Shawshank Redempt...|         Crime|Drama|
|     377|     11|     4|2009-01-02 01:14:40|        Speed (1994)|Action|Romance|Th...|
|     384|     11|   3.5|2009-01-01 04:59:27|  Bad Company (1995)|  Action|Crime|Drama|
|     441|     11|   1.5|2009-01-01 23:52:42|Dazed and Confuse...|              Comedy|
|     442|     11|   4.5|2009-01-01 05:33:22|Demolition Man (1...|Action|Adventure|...|
|     480|     11|     5|2009-01-01 05:45:13|Jurassic Park (1993)|Action|Adventure|...|
|     541|     11|   4.5|2009-01-01 05:25:03| Blade Runner (1982)|Action|Sci-Fi|Thr...|
+--------+-------+------+-------------------+--------------------+--------------------+
only showing top 20 rows

In [45]:
ratings_with_movies = ratings_with_movies.dropDuplicates(['movie_id', 'user_id']) # this is quite important, each user can rate the same movie multiple times

In [46]:
# The agg() function in this code is used to apply one or more aggregate functions to a DataFrame after grouping it by a specific column (in this case, "title").
from pyspark.sql.functions import count

rating_count_every_title = ratings_with_movies.groupBy('title').agg(count('rating').alias('rating_count'))

In [47]:
rating_count_every_title.show()

+--------------------+------------+
|               title|rating_count|
+--------------------+------------+
|Bag of Hammers, A...|           5|
|22 Jump Street (2...|         137|
|When We Were King...|         709|
| If Lucy Fell (1996)|         176|
|       Psycho (1960)|        3111|
|   Annie Hall (1977)|        2205|
|Gertie the Dinosa...|           2|
|Men in Black (a.k...|        4646|
|Odd Couple II, Th...|         124|
|In the Heat of th...|         824|
| Three Wishes (1995)|          60|
|Seven Beauties (P...|         128|
|    Elizabeth (1998)|        1641|
|First Blood (Ramb...|        1547|
|Heavenly Creature...|        1185|
|Smiley's People (...|          18|
|My Father the Her...|          26|
|Blind Shaft (Mang...|          10|
|Starship Troopers...|          96|
|Problem Child (1990)|         560|
+--------------------+------------+
only showing top 20 rows

In [48]:
ratings_with_movies = ratings_with_movies.join(rating_count_every_title, on='title', how='inner')

In [49]:
ratings_with_movies = ratings_with_movies.filter(ratings_with_movies['rating_count'] >= 50)

In [50]:
ratings_with_movies.show()

+--------------------+--------+-------+------+-------------------+-------------+------------+
|               title|movie_id|user_id|rating|          timestamp|       genres|rating_count|
+--------------------+--------+-------+------+-------------------+-------------+------------+
|'Til There Was Yo...|     779|   1095|     2|1999-10-20 10:12:13|Drama|Romance|         101|
|'Til There Was Yo...|     779| 128527|     3|2000-12-08 04:51:01|Drama|Romance|         101|
|'Til There Was Yo...|     779| 133310|     3|2001-08-26 21:21:54|Drama|Romance|         101|
|'Til There Was Yo...|     779|  49999|     4|2003-03-17 01:01:39|Drama|Romance|         101|
|'Til There Was Yo...|     779|  83242|   0.5|2005-01-25 19:53:28|Drama|Romance|         101|
|'Til There Was Yo...|     779|  92433|     1|2001-09-14 02:39:09|Drama|Romance|         101|
|'Til There Was Yo...|     779| 109291|   3.5|2004-01-07 16:17:11|Drama|Romance|         101|
|'Til There Was Yo...|     779|  49212|     3|2001-05-07 03:21:20|Drama|Romance|         101|
|'Til There Was Yo...|     779|  90405|     1|2003-02-06 19:26:55|Drama|Romance|         101|
|'Til There Was Yo...|     779| 111549|     3|2000-04-25 18:14:27|Drama|Romance|         101|
|'Til There Was Yo...|     779|  42449|     1|2000-11-19 17:13:49|Drama|Romance|         101|
|'Til There Was Yo...|     779|  59477|     2|2006-01-10 05:27:12|Drama|Romance|         101|
|'Til There Was Yo...|     779|  68985|     3|2001-08-18 04:02:01|Drama|Romance|         101|
|'Til There Was Yo...|     779| 116630|     4|1998-08-09 20:45:20|Drama|Romance|         101|
|'Til There Was Yo...|     779|  12975|     3|1999-03-09 04:14:29|Drama|Romance|         101|
|'Til There Was Yo...|     779|  13429|     3|2002-05-26 19:44:36|Drama|Romance|         101|
|'Til There Was Yo...|     779|  33349|   2.5|2005-08-04 16:29:42|Drama|Romance|         101|
|'Til There Was Yo...|     779|  72401|     2|2003-11-30 04:35:57|Drama|Romance|         101|
|'Til There Was Yo...|     779|  10055|     2|2003-01-12 05:18:44|Drama|Romance|         101|
|'Til There Was Yo...|     779| 103925|     1|2000-04-25 05:14:59|Drama|Romance|         101|
+--------------------+--------+-------+------+-------------------+-------------+------------+
only showing top 20 rows

### Convert the final analyzed Datas into Pivot Table

In [ ]:
# Get the pivot table of final data "ratings"
from pyspark.sql.functions import avg

# Pivot the table with user_id as columns, title as rows, and average rating as values
movie_pivot = ratings_with_movies.groupBy("title") \
                         .pivot("user_id") \
                         .agg(avg("rating")) \
                         .fillna(0)  # Optional: Replace nulls with 0

In [ ]:
movie_pivot.show()