In [ ]:
from pyspark.sql import SparkSession

# stop any existing Spark session, if Spark is already running, creating a new session might fail ***
try:
    spark.stop()
except Exception:
    pass

# create session with adjusted memory settings based on your cluster
# .config("spark.local.dir", r"E:\Apache Spark\spark-temp"): change the spark local dir, as the c disk memory is not enough, may cause Py4JJavaError exception ***
spark = SparkSession.builder.appName("MovieCSVSQL") \
    .config("spark.executor.memory", "32g") \
    .config("spark.driver.memory", "16g") \
    .config("spark.local.dir", r"E:\Apache Spark\spark-temp") \
    .config("spark.jars", r"D:\MySQL\MySQL ConnectorJ\mysql-connector-j-8.4.0\mysql-connector-j-8.4.0\mysql-connector-j-8.4.0.jar") \
    .getOrCreate()
# *** why in the other .ipynb file I can do this, why not here????????, and I change the place, it work again, maybe I should start it all over next time

In [29]:
spark

### Store Movie Data in MySQL

In [30]:
movies = spark.read \
    .format("csv") \
    .option("sep", ",") \
    .option("header", "true") \
    .option("encoding", "utf-8") \
    .option("mode", "DROPMALFORMED") \
    .load("../data/MovieLens 20M Dataset/movie.csv")

In [31]:
movies = movies.withColumnRenamed('movieId', 'movie_id')

In [32]:
movies.show()

+--------+--------------------+--------------------+
|movie_id|               title|              genres|
+--------+--------------------+--------------------+
|       1|    Toy Story (1995)|Adventure|Animati...|
|       2|      Jumanji (1995)|Adventure|Childre...|
|       3|Grumpier Old Men ...|      Comedy|Romance|
|       4|Waiting to Exhale...|Comedy|Drama|Romance|
|       5|Father of the Bri...|              Comedy|
|       6|         Heat (1995)|Action|Crime|Thri...|
|       7|      Sabrina (1995)|      Comedy|Romance|
|       8| Tom and Huck (1995)|  Adventure|Children|
|       9| Sudden Death (1995)|              Action|
|      10|    GoldenEye (1995)|Action|Adventure|...|
|      11|American Presiden...|Comedy|Drama|Romance|
|      12|Dracula: Dead and...|       Comedy|Horror|
|      13|        Balto (1995)|Adventure|Animati...|
|      14|        Nixon (1995)|               Drama|
|      15|Cutthroat Island ...|Action|Adventure|...|
|      16|       Casino (1995)|         Crime|Drama|
|      17|Sense and Sensibi...|       Drama|Romance|
|      18|   Four Rooms (1995)|              Comedy|
|      19|Ace Ventura: When...|              Comedy|
|      20|  Money Train (1995)|Action|Comedy|Cri...|
+--------+--------------------+--------------------+
only showing top 20 rows

In [33]:
# Write to MySQL
(movies.write
    .format("jdbc")
    .option("url", "jdbc:mysql://localhost:3307/db_movie_recommender_sys?useSSL=false&serverTimezone=UTC")
    .option("dbtable", "tb_movie")
    .option("user", "root")  # Replace with actual credentials
    .option("password", "137162")
    .option("driver", "com.mysql.cj.jdbc.Driver")
    .mode("overwrite")
    .save())

### Store Rating Data in MySQL

In [34]:
ratings = spark.read \
    .format("csv") \
    .option("sep", ",") \
    .option("header", "true") \
    .option("encoding", "utf-8") \
    .option("mode", "DROPMALFORMED") \
    .load("../data/MovieLens 20M Dataset/rating.csv")

In [35]:
rename_dict = {
    "userId": "user_id",
    "movieId": "movie_id"
}


for old_name, new_name in rename_dict.items():
    ratings = ratings.withColumnRenamed(old_name, new_name)

In [36]:
ratings.show()

+-------+--------+------+-------------------+
|user_id|movie_id|rating|          timestamp|
+-------+--------+------+-------------------+
|      1|       2|   3.5|2005-04-02 23:53:47|
|      1|      29|   3.5|2005-04-02 23:31:16|
|      1|      32|   3.5|2005-04-02 23:33:39|
|      1|      47|   3.5|2005-04-02 23:32:07|
|      1|      50|   3.5|2005-04-02 23:29:40|
|      1|     112|   3.5|2004-09-10 03:09:00|
|      1|     151|     4|2004-09-10 03:08:54|
|      1|     223|     4|2005-04-02 23:46:13|
|      1|     253|     4|2005-04-02 23:35:40|
|      1|     260|     4|2005-04-02 23:33:46|
|      1|     293|     4|2005-04-02 23:31:43|
|      1|     296|     4|2005-04-02 23:32:47|
|      1|     318|     4|2005-04-02 23:33:18|
|      1|     337|   3.5|2004-09-10 03:08:29|
|      1|     367|   3.5|2005-04-02 23:53:00|
|      1|     541|     4|2005-04-02 23:30:03|
|      1|     589|   3.5|2005-04-02 23:45:57|
|      1|     593|   3.5|2005-04-02 23:31:01|
|      1|     653|     3|2004-09-10 03:08:11|
|      1|     919|   3.5|2004-09-10 03:07:01|
+-------+--------+------+-------------------+
only showing top 20 rows

In [37]:
ratings = ratings.sample(fraction=0.5, seed=42) # remove half of the data in rating.csv
ratings = ratings.sample(fraction=0.5, seed=42) # remove half of the data in rating.csv
ratings = ratings.sample(fraction=0.5, seed=42) # remove half of the data in rating.csv

In [38]:
print(ratings.count())

2501155

In [39]:
# Write to MySQL
(ratings.write
    .format("jdbc")
    .option("url", "jdbc:mysql://localhost:3307/db_movie_recommender_sys?useSSL=false&serverTimezone=UTC")
    .option("dbtable", "tb_rating")
    .option("user", "root")  # Replace with actual credentials
    .option("password", "137162")
    .option("driver", "com.mysql.cj.jdbc.Driver")
    .mode("overwrite")
    .save())