In [ ]:
from pyspark.sql import SparkSession 
from pyspark.sql.types import StructType, StructField, IntegerType, StringType

# stop any existing Spark session, if Spark is already running, creating a new session might fail ***
try:
    spark.stop()
except Exception:
    pass

# create session with adjusted memory settings based on your cluster
# .config("spark.local.dir", r"E:\Apache Spark\spark-temp"): change the spark local dir, as the c disk memory is not enough, may cause Py4JJavaError exception ***
spark = SparkSession.builder.appName("BookRecommendCSV") \
    .config("spark.executor.memory", "16g") \
    .config("spark.driver.memory", "8g") \
    .config("spark.local.dir", r"E:\Apache Spark\spark-temp") \
    .getOrCreate()

In [298]:
import pyspark
print(pyspark.__file__)

c:\Users\MECHREVO\AppData\Local\Programs\Python\Python312\Lib\site-packages\pyspark\__init__.py

In [299]:
spark.conf.get("spark.executor.memory")
spark.conf.get("spark.driver.memory")

'8g'

In [300]:
spark

In [301]:
# Read the CSV file with specified options
books = spark.read \
    .format("csv") \
    .option("sep", ";") \
    .option("header", "true") \
    .option("encoding", "latin1") \
    .option("mode", "DROPMALFORMED") \
    .load("data/BX-Books.csv")

In [302]:
books.show()

+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+
|      ISBN|          Book-Title|         Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|         Image-URL-L|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+
|0195153448| Classical Mythology|  Mark P. O. Morford|               2002|Oxford University...|http://images.ama...|http://images.ama...|http://images.ama...|
|0002005018|        Clara Callan|Richard Bruce Wright|               2001|HarperFlamingo Ca...|http://images.ama...|http://images.ama...|http://images.ama...|
|0060973129|Decision in Normandy|        Carlo D'Este|               1991|     HarperPerennial|http://images.ama...|http://images.ama...|http://images.ama...|
|0374157065|Flu: The Story of...|    Gina Bari Kolata|               1999|Farrar Straus Giroux|http://images.ama...|http://images.ama...|http://images.ama...|
|0393045218|The Mummies of Ur...|     E. J. W. Barber|               1999|W. W. Norton &amp...|http://images.ama...|http://images.ama...|http://images.ama...|
|0399135782|The Kitchen God's...|             Amy Tan|               1991|    Putnam Pub Group|http://images.ama...|http://images.ama...|http://images.ama...|
|0425176428|What If?: The Wor...|       Robert Cowley|               2000|Berkley Publishin...|http://images.ama...|http://images.ama...|http://images.ama...|
|0671870432|     PLEADING GUILTY|         Scott Turow|               1993|          Audioworks|http://images.ama...|http://images.ama...|http://images.ama...|
|0679425608|Under the Black F...|     David Cordingly|               1996|        Random House|http://images.ama...|http://images.ama...|http://images.ama...|
|074322678X|Where You'll Find...|         Ann Beattie|               2002|            Scribner|http://images.ama...|http://images.ama...|http://images.ama...|
|0771074670|Nights Below Stat...|David Adams Richards|               1988|     Emblem Editions|http://images.ama...|http://images.ama...|http://images.ama...|
|080652121X|Hitler's Secret B...|          Adam Lebor|               2000|       Citadel Press|http://images.ama...|http://images.ama...|http://images.ama...|
|0887841740|  The Middle Stories|         Sheila Heti|               2004|House of Anansi P...|http://images.ama...|http://images.ama...|http://images.ama...|
|1552041778|            Jane Doe|        R. J. Kaiser|               1999|          Mira Books|http://images.ama...|http://images.ama...|http://images.ama...|
|1558746218|A Second Chicken ...|       Jack Canfield|               1998|Health Communicat...|http://images.ama...|http://images.ama...|http://images.ama...|
|1567407781|The Witchfinder (...|   Loren D. Estleman|               1998|Brilliance Audio ...|http://images.ama...|http://images.ama...|http://images.ama...|
|1575663937|More Cunning Than...|  Robert Hendrickson|               1999|Kensington Publis...|http://images.ama...|http://images.ama...|http://images.ama...|
|1881320189|Goodbye to the Bu...|        Julia Oliver|               1994|      River City Pub|http://images.ama...|http://images.ama...|http://images.ama...|
|0440234743|       The Testament|        John Grisham|               1999|                Dell|http://images.ama...|http://images.ama...|http://images.ama...|
|0452264464|Beloved (Plume Co...|       Toni Morrison|               1994|               Plume|http://images.ama...|http://images.ama...|http://images.ama...|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [303]:
books.columns

['ISBN',
 'Book-Title',
 'Book-Author',
 'Year-Of-Publication',
 'Publisher',
 'Image-URL-S',
 'Image-URL-M',
 'Image-URL-L']

In [304]:
books.show()

+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+
|      ISBN|          Book-Title|         Book-Author|Year-Of-Publication|           Publisher|         Image-URL-S|         Image-URL-M|         Image-URL-L|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+
|0195153448| Classical Mythology|  Mark P. O. Morford|               2002|Oxford University...|http://images.ama...|http://images.ama...|http://images.ama...|
|0002005018|        Clara Callan|Richard Bruce Wright|               2001|HarperFlamingo Ca...|http://images.ama...|http://images.ama...|http://images.ama...|
|0060973129|Decision in Normandy|        Carlo D'Este|               1991|     HarperPerennial|http://images.ama...|http://images.ama...|http://images.ama...|
|0374157065|Flu: The Story of...|    Gina Bari Kolata|               1999|Farrar Straus Giroux|http://images.ama...|http://images.ama...|http://images.ama...|
|0393045218|The Mummies of Ur...|     E. J. W. Barber|               1999|W. W. Norton &amp...|http://images.ama...|http://images.ama...|http://images.ama...|
|0399135782|The Kitchen God's...|             Amy Tan|               1991|    Putnam Pub Group|http://images.ama...|http://images.ama...|http://images.ama...|
|0425176428|What If?: The Wor...|       Robert Cowley|               2000|Berkley Publishin...|http://images.ama...|http://images.ama...|http://images.ama...|
|0671870432|     PLEADING GUILTY|         Scott Turow|               1993|          Audioworks|http://images.ama...|http://images.ama...|http://images.ama...|
|0679425608|Under the Black F...|     David Cordingly|               1996|        Random House|http://images.ama...|http://images.ama...|http://images.ama...|
|074322678X|Where You'll Find...|         Ann Beattie|               2002|            Scribner|http://images.ama...|http://images.ama...|http://images.ama...|
|0771074670|Nights Below Stat...|David Adams Richards|               1988|     Emblem Editions|http://images.ama...|http://images.ama...|http://images.ama...|
|080652121X|Hitler's Secret B...|          Adam Lebor|               2000|       Citadel Press|http://images.ama...|http://images.ama...|http://images.ama...|
|0887841740|  The Middle Stories|         Sheila Heti|               2004|House of Anansi P...|http://images.ama...|http://images.ama...|http://images.ama...|
|1552041778|            Jane Doe|        R. J. Kaiser|               1999|          Mira Books|http://images.ama...|http://images.ama...|http://images.ama...|
|1558746218|A Second Chicken ...|       Jack Canfield|               1998|Health Communicat...|http://images.ama...|http://images.ama...|http://images.ama...|
|1567407781|The Witchfinder (...|   Loren D. Estleman|               1998|Brilliance Audio ...|http://images.ama...|http://images.ama...|http://images.ama...|
|1575663937|More Cunning Than...|  Robert Hendrickson|               1999|Kensington Publis...|http://images.ama...|http://images.ama...|http://images.ama...|
|1881320189|Goodbye to the Bu...|        Julia Oliver|               1994|      River City Pub|http://images.ama...|http://images.ama...|http://images.ama...|
|0440234743|       The Testament|        John Grisham|               1999|                Dell|http://images.ama...|http://images.ama...|http://images.ama...|
|0452264464|Beloved (Plume Co...|       Toni Morrison|               1994|               Plume|http://images.ama...|http://images.ama...|http://images.ama...|
+----------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [305]:
rename_dict = {
    "Book-Title": "title",
    "Book-Author": "author",
    "Year-Of-Publication": "year",
    "Publisher": "publisher",
    "Image-URL-L": "image_url"
}

for old_name, new_name in rename_dict.items():
    books = books.withColumnRenamed(old_name, new_name)

In [306]:
books = books.select('ISBN', 'title', 'author', 'year', 'publisher', 'image_url')

In [307]:
books.show()

+----------+--------------------+--------------------+----+--------------------+--------------------+
|      ISBN|               title|              author|year|           publisher|           image_url|
+----------+--------------------+--------------------+----+--------------------+--------------------+
|0195153448| Classical Mythology|  Mark P. O. Morford|2002|Oxford University...|http://images.ama...|
|0002005018|        Clara Callan|Richard Bruce Wright|2001|HarperFlamingo Ca...|http://images.ama...|
|0060973129|Decision in Normandy|        Carlo D'Este|1991|     HarperPerennial|http://images.ama...|
|0374157065|Flu: The Story of...|    Gina Bari Kolata|1999|Farrar Straus Giroux|http://images.ama...|
|0393045218|The Mummies of Ur...|     E. J. W. Barber|1999|W. W. Norton &amp...|http://images.ama...|
|0399135782|The Kitchen God's...|             Amy Tan|1991|    Putnam Pub Group|http://images.ama...|
|0425176428|What If?: The Wor...|       Robert Cowley|2000|Berkley Publishin...|http://images.ama...|
|0671870432|     PLEADING GUILTY|         Scott Turow|1993|          Audioworks|http://images.ama...|
|0679425608|Under the Black F...|     David Cordingly|1996|        Random House|http://images.ama...|
|074322678X|Where You'll Find...|         Ann Beattie|2002|            Scribner|http://images.ama...|
|0771074670|Nights Below Stat...|David Adams Richards|1988|     Emblem Editions|http://images.ama...|
|080652121X|Hitler's Secret B...|          Adam Lebor|2000|       Citadel Press|http://images.ama...|
|0887841740|  The Middle Stories|         Sheila Heti|2004|House of Anansi P...|http://images.ama...|
|1552041778|            Jane Doe|        R. J. Kaiser|1999|          Mira Books|http://images.ama...|
|1558746218|A Second Chicken ...|       Jack Canfield|1998|Health Communicat...|http://images.ama...|
|1567407781|The Witchfinder (...|   Loren D. Estleman|1998|Brilliance Audio ...|http://images.ama...|
|1575663937|More Cunning Than...|  Robert Hendrickson|1999|Kensington Publis...|http://images.ama...|
|1881320189|Goodbye to the Bu...|        Julia Oliver|1994|      River City Pub|http://images.ama...|
|0440234743|       The Testament|        John Grisham|1999|                Dell|http://images.ama...|
|0452264464|Beloved (Plume Co...|       Toni Morrison|1994|               Plume|http://images.ama...|
+----------+--------------------+--------------------+----+--------------------+--------------------+
only showing top 20 rows

In [342]:
num_rows = books.count()
num_cols = len(books.columns)
print(num_rows, num_cols)

271379 6

In [ ]:
# read the User csv file
users = spark.read \
    .format("csv") \
    .option("sep", ";") \
    .option("header", "true") \
    .option("encoding", "latin1") \
    .option("mode", "DROPMALFORMED") \
    .load("data/BX-Users.csv")

In [310]:
users.show()

+-------+--------------------+----+
|User-ID|            Location| Age|
+-------+--------------------+----+
|      1|  nyc, new york, usa|NULL|
|      2|stockton, califor...|  18|
|      3|moscow, yukon ter...|NULL|
|      4|porto, v.n.gaia, ...|  17|
|      5|farnborough, hant...|NULL|
|      6|santa monica, cal...|  61|
|      7| washington, dc, usa|NULL|
|      8|timmins, ontario,...|NULL|
|      9|germantown, tenne...|NULL|
|     10|albacete, wiscons...|  26|
|     11|melbourne, victor...|  14|
|     12|fort bragg, calif...|NULL|
|     13|barcelona, barcel...|  26|
|     14|mediapolis, iowa,...|NULL|
|     15|calgary, alberta,...|NULL|
|     16|albuquerque, new ...|NULL|
|     17|chesapeake, virgi...|NULL|
|     18|rio de janeiro, r...|  25|
|     19|           weston, ,|  14|
|     20|langhorne, pennsy...|  19|
+-------+--------------------+----+
only showing top 20 rows

In [311]:
rename_dict = {
    "User-ID": "user_id",
    "Location": "location",
    "Age": "age",
}


for old_name, new_name in rename_dict.items():
    users = users.withColumnRenamed(old_name, new_name)

In [312]:
users.show(2)

+-------+--------------------+----+
|user_id|            location| age|
+-------+--------------------+----+
|      1|  nyc, new york, usa|NULL|
|      2|stockton, califor...|  18|
+-------+--------------------+----+
only showing top 2 rows

In [313]:
# Read the Ratings CSV file
ratings = spark.read \
    .format("csv") \
    .option("sep", ";") \
    .option("header", "true") \
    .option("encoding", "latin1") \
    .option("mode", "DROPMALFORMED") \
    .load("data/BX-Book-Ratings.csv")

In [314]:
ratings.show(5)

+-------+----------+-----------+
|User-ID|      ISBN|Book-Rating|
+-------+----------+-----------+
| 276725|034545104X|          0|
| 276726|0155061224|          5|
| 276727|0446520802|          0|
| 276729|052165615X|          3|
| 276729|0521795028|          6|
+-------+----------+-----------+
only showing top 5 rows

In [343]:
num_rows = ratings.count()
num_cols = len(ratings.columns)
print(num_rows, num_cols)  # the same as ratings.shape

59850 9

In [316]:
rename_dict = {
    "User-ID": "user_id",
    "Book-Rating": "rating"
}


for old_name, new_name in rename_dict.items():
    ratings = ratings.withColumnRenamed(old_name, new_name)

In [317]:
ratings.show(5)

+-------+----------+------+
|user_id|      ISBN|rating|
+-------+----------+------+
| 276725|034545104X|     0|
| 276726|0155061224|     5|
| 276727|0446520802|     0|
| 276729|052165615X|     3|
| 276729|0521795028|     6|
+-------+----------+------+
only showing top 5 rows

In [318]:
from pyspark.sql.functions import col

ratings.groupBy("user_id") \
       .count() \
       .withColumnRenamed("count", "rating_count") \
       .orderBy(col("rating_count"), ascending=False) \
       .show()

+-------+------------+
|user_id|rating_count|
+-------+------------+
|  11676|       13602|
| 198711|        7550|
| 153662|        6109|
|  98391|        5891|
|  35859|        5850|
| 212898|        4785|
| 278418|        4533|
|  76352|        3367|
| 110973|        3100|
| 235105|        3067|
| 230522|        2991|
|  16795|        2948|
| 234623|        2674|
|  36836|        2529|
|  52584|        2512|
| 245963|        2507|
| 204864|        2504|
|  55492|        2459|
| 185233|        2448|
| 171118|        2421|
+-------+------------+
only showing top 20 rows

In [319]:
ratings.groupBy("user_id").count().orderBy("count", ascending=False).show() # get every user's ratings for the books, sorted in descending order

+-------+-----+
|user_id|count|
+-------+-----+
|  11676|13602|
| 198711| 7550|
| 153662| 6109|
|  98391| 5891|
|  35859| 5850|
| 212898| 4785|
| 278418| 4533|
|  76352| 3367|
| 110973| 3100|
| 235105| 3067|
| 230522| 2991|
|  16795| 2948|
| 234623| 2674|
|  36836| 2529|
|  52584| 2512|
| 245963| 2507|
| 204864| 2504|
|  55492| 2459|
| 185233| 2448|
| 171118| 2421|
+-------+-----+
only showing top 20 rows

In [320]:
ratings_counts = ratings.groupBy("user_id").count()

In [321]:
ratings_counts = ratings_counts.filter(ratings_counts["count"] > 200)

In [345]:
ratings_counts.show(5)

+-------+-----+
|user_id|count|
+-------+-----+
|  32773|  745|
|  31391|  208|
|  26593|  272|
|  28360|  247|
|  19085|  240|
+-------+-----+
only showing top 5 rows

In [323]:
user_ids = ratings_counts.select("user_id")

user_id_list = [row['user_id'] for row in user_ids.collect()]

In [324]:
user_id_list

['32773',
 '31391',
 '26593',
 '28360',
 '19085',
 '29855',
 '28591',
 '31826',
 '16966',
 '23872',
 '30511',
 '8681',
 '26544',
 '25981',
 '10447',
 '25601',
 '23902',
 '13552',
 '30509',
 '2977',
 '6251',
 '21576',
 '7915',
 '8936',
 '31846',
 '18067',
 '19664',
 '11601',
 '14422',
 '30711',
 '2766',
 '35836',
 '16916',
 '11993',
 '32721',
 '8245',
 '6575',
 '8890',
 '16106',
 '16795',
 '21252',
 '24194',
 '13850',
 '32195',
 '30533',
 '3757',
 '15408',
 '20201',
 '35050',
 '10819',
 '35433',
 '23768',
 '4385',
 '30735',
 '12982',
 '16634',
 '31315',
 '11676',
 '277639',
 '20115',
 '12538',
 '23288',
 '21659',
 '28204',
 '25409',
 '7346',
 '8067',
 '6543',
 '32440',
 '277427',
 '4017',
 '13273',
 '17950',
 '20859',
 '24921',
 '7158',
 '277478',
 '6242',
 '26516',
 '33974',
 '27647',
 '14521',
 '6323',
 '35859',
 '15957',
 '30972',
 '18401',
 '22625',
 '26583',
 '28634',
 '30276',
 '21014',
 '35857',
 '3363',
 '33145',
 '6563',
 '28523',
 '278418',
 '31556',
 '26535',
 '254',
 '7286',
 '9856',
 '2276',
 '15418',
 '29259',
 '12824',
 '30487',
 '13082',
 '27617',
 '73394',
 '37712',
 '41084',
 '62895',
 '52584',
 '55490',
 '69971',
 '41841',
 '64436',
 '70052',
 '48494',
 '52853',
 '72992',
 '39281',
 '69697',
 '49889',
 '56271',
 '60277',
 '66680',
 '53729',
 '69042',
 '52199',
 '37567',
 '69232',
 '39773',
 '50225',
 '51094',
 '69405',
 '36606',
 '36907',
 '43246',
 '75860',
 '76151',
 '63938',
 '51450',
 '63714',
 '43842',
 '44296',
 '41700',
 '56447',
 '38273',
 '61619',
 '68555',
 '65258',
 '59727',
 '43806',
 '60707',
 '72352',
 '69808',
 '51350',
 '52203',
 '36836',
 '38556',
 '75591',
 '38781',
 '71712',
 '51386',
 '70594',
 '40943',
 '37950',
 '59971',
 '50730',
 '69078',
 '67840',
 '73651',
 '56399',
 '56856',
 '60337',
 '69355',
 '76352',
 '42914',
 '52614',
 '46398',
 '76223',
 '44728',
 '50547',
 '49109',
 '73681',
 '49144',
 '51883',
 '55892',
 '76499',
 '55734',
 '49460',
 '55548',
 '52917',
 '56360',
 '53174',
 '39616',
 '39646',
 '40889',
 '55492',
 '59172',
 '63394',
 '76626',
 '39467',
 '47316',
 '54218',
 '60244',
 '53628',
 '44595',
 '56959',
 '36609',
 '42400',
 '70415',
 '38023',
 '62272',
 '55187',
 '62891',
 '104665',
 '92547',
 '83287',
 '109461',
 '88793',
 '82831',
 '105979',
 '92853',
 '88283',
 '92810',
 '81977',
 '94853',
 '104399',
 '95316',
 '78783',
 '114178',
 '100846',
 '113904',
 '108285',
 '95932',
 '113817',
 '92652',
 '107951',
 '85701',
 '98297',
 '81560',
 '91832',
 '114865',
 '87746',
 '97874',
 '95902',
 '106816',
 '79186',
 '105374',
 '76942',
 '86243',
 '100906',
 '78973',
 '82893',
 '109901',
 '80538',
 '110934',
 '105517',
 '112001',
 '114368',
 '95991',
 '107021',
 '89602',
 '95193',
 '110029',
 '98741',
 '86202',
 '95359',
 '87555',
 '102647',
 '91203',
 '96448',
 '94347',
 '91342',
 '110483',
 '114414',
 '113270',
 '109955',
 '77940',
 '95010',
 '80683',
 '102359',
 '113519',
 '107301',
 '107453',
 '81045',
 '110214',
 '91931',
 '87141',
 '88693',
 '109574',
 '93629',
 '107784',
 '111174',
 '92979',
 '96054',
 '100459',
 '85757',
 '82511',
 '108005',
 '101305',
 '102702',
 '106225',
 '82407',
 '76818',
 '94242',
 '87974',
 '102967',
 '104429',
 '88677',
 '110973',
 '98391',
 '114444',
 '112881',
 '95903',
 '93085',
 '77809',
 '101851',
 '108352',
 '113983',
 '100644',
 '111947',
 '81492',
 '85426',
 '93363',
 '89891',
 '83637',
 '101876',
 '78553',
 '79441',
 '102275',
 '85526',
 '88733',
 '110912',
 '86641',
 '89192',
 '78834',
 '82926',
 '85656',
 '101209',
 '88937',
 '104636',
 '84024',
 '112026',
 '94923',
 '94985',
 '93047',
 '98758',
 '87143',
 '85993',
 '131046',
 '148744',
 '126604',
 '127429',
 '135458',
 '130571',
 '149907',
 '132083',
 '137589',
 '153662',
 '126492',
 '133571',
 '117539',
 '116599',
 '127914',
 '136205',
 '129008',
 '142093',
 '124942',
 '142524',
 '141902',
 '115490',
 '124078',
 '129716',
 '123981',
 '144131',
 '117251',
 '114988',
 '116122',
 '149908',
 '130474',
 '135045',
 '138844',
 '133689',
 '152249',
 '148199',
 '136252',
 '129074',
 '146113',
 '145619',
 '122881',
 '128696',
 '129358',
 '149069',
 '123883',
 '143253',
 '149934',
 '122429',
 '120093',
 '133747',
 '147141',
 '152186',
 '138441',
 '134837',
 '145451',
 '151589',
 '135149',
 '135831',
 '119575',
 '135265',
 '127200',
 '136139',
 '145165',
 '115120',
 '136010',
 '139742',
 '142454',
 '128835',
 '145641',
 '124363',
 '122793',
 '131675',
 '138578',
 '141901',
 '125519',
 '150498',
 '133868',
 '151790',
 '121726',
 '127359',
 '147965',
 '144555',
 '150124',
 '147451',
 '137688',
 '151806',
 '115003',
 '125203',
 '150979',
 '114868',
 '131402',
 '115002',
 '139467',
 '141493',
 '146230',
 '123625',
 '153621',
 '145449',
 '129851',
 '148258',
 '138097',
 '150968',
 '133567',
 '153563',
 '124079',
 '123790',
 '131855',
 '144531',
 '130554',
 '141710',
 '146348',
 '129465',
 '131027',
 '140358',
 '143175',
 '125039',
 '143792',
 '125692',
 '127233',
 '141819',
 '140036',
 '140000',
 '136382',
 '124487',
 '138073',
 '143415',
 '120548',
 '147847',
 '125774',
 '126736',
 '128208',
 '131837',
 '137190',
 '162639',
 '169699',
 '173684',
 '181687',
 '180348',
 '160032',
 '164675',
 '170575',
 '189516',
 '190708',
 '169663',
 '179772',
 '177090',
 '177374',
 '177072',
 '159376',
 '162738',
 '163761',
 '170229',
 '153718',
 '182085',
 '183196',
 '164828',
 '184299',
 '178181',
 '182086',
 '172742',
 '168047',
 '170742',
 '180586',
 '187170',
 '160541',
 '167471',
 '174791',
 '173415',
 '185384',
 '189835',
 '157247',
 '159033',
 '173632',
 '165232',
 '189973',
 '156269',
 '170634',
 '187256',
 '190459',
 '187517',
 '183995',
 '170947',
 '164323',
 '177432',
 '162052',
 '178199',
 '180917',
 '154176',
 '164533',
 '168387',
 '168144',
 '182987',
 '168464',
 '170184',
 '172030',
 '163319',
 '163973',
 '189334',
 '164027',
 '156150',
 '174216',
 '178667',
 '185308',
 '155014',
 '188951',
 '154992',
 '170513',
 '168245',
 '155916',
 '188010',
 '172888',
 '156467',
 '160819',
 '165319',
 '171118',
 '167800',
 '173835',
 '167349',
 '164096',
 '187520',
 '183287',
 '177458',
 '164465',
 '175003',
 '175886',
 '166123',
 '155219',
 '166596',
 '159858',
 '174304',
 '180957',
 '179978',
 '177690',
 '187145',
 '190925',
 '186570',
 '155495',
 '158295',
 '161752',
 '178950',
 '172512',
 '180651',
 '174092',
 '155147',
 '181176',
 '170518',
 '165308',
 '182993',
 '168064',
 '190807',
 '157811',
 '185233',
 '163804',
 '179733',
 '169233',
 '157273',
 '179744',
 '173291',
 '227447',
 '212965',
 '207499',
 '217375',
 '226965',
 '222050',
 '228764',
 '228681',
 '225989',
 '199772',
 '209756',
 '199416',
 '200674',
 '217121',
 '210035',
 '216444',
 '201783',
 '216466',
 '223087',
 '196502',
 '223154',
 '208406',
 '198711',
 '216683',
 '222296',
 '221445',
 '218552',
 '222941',
 '210485',
 '211919',
 '225986',
 '219546',
 '222488',
 '201674',
 '224764',
 '203968',
 '217740',
 '224349',
 '225087',
 '201447',
 '196457',
 '201526',
 '204522',
 '206979',
 '201290',
 '209373',
 '204591',
 '203799',
 '209516',
 '196047',
 '195694',
 '206567',
 '197364',
 '213150',
 '201768',
 '209875',
 '211426',
 '191187',
 '194600',
 '198621',
 '198699',
 '207349',
 '213350',
 '193560',
 '196160',
 '203240',
 '227520',
 '225763',
 '205980',
 '224138',
 '210792',
 '220278',
 '211430',
 '208671',
 '229011',
 '197775',
 '201017',
 '208829',
 '224435',
 '196077',
 '205473',
 '224646',
 '208141',
 '208568',
 '210959',
 '206534',
 '225199',
 '208147',
 '225810',
 '206074',
 '226879',
 '193499',
 '214272',
 '194669',
 '197659',
 '208410',
 '212645',
 '211847',
 '227705',
 '205735',
 '214786',
 '212923',
 '200226',
 '203820',
 '212898',
 '228998',
 '222204',
 '224430',
 '217106',
 '204167',
 '207246',
 '192093',
 '204864',
 '226545',
 '218608',
 '207782',
 '216012',
 '225232',
 '230249',
 '241548',
 '250962',
 '234359',
 '250764',
 '234721',
 '262399',
 '258152',
 '249628',
 '263163',
 '249862',
 '241980',
 '254498',
 '255092',
 '242646',
 '235105',
 '246156',
 '236340',
 '241198',
 '259380',
 '229741',
 '260897',
 '244688',
 '235282',
 '258185',
 '236058',
 '236959',
 '242824',
 '252820',
 '246513',
 '254971',
 '242299',
 '256247',
 '251613',
 '230496',
 '262998',
 '232945',
 '233911',
 '255218',
 '248718',
 '231237',
 '259629',
 '229551',
 '251394',
 '238541',
 '245839',
 '256402',
 '252222',
 '254465',
 '256167',
 '252071',
 '238781',
 '258534',
 '257204',
 '253821',
 '242409',
 '229313',
 '251422',
 '263460',
 '263877',
 '260183',
 '264031',
 '240144',
 '242083',
 '245963',
 '261037',
 '231827',
 '234623',
 '234828',
 '238557',
 '231210',
 '230522',
 '256407',
 '245371',
 '236283',
 '244349',
 '259260',
 '230708',
 '250405',
 '236757',
 '254206',
 '236948',
 '249111',
 '254899',
 '238526',
 '247752',
 '246655',
 '258690',
 '250184',
 '235392',
 '232131',
 '229329',
 '231857',
 '238699',
 '244736',
 '238961',
 '242006',
 '241666',
 '246617',
 '247447',
 '257028',
 '238120',
 '264082',
 '252848',
 '243077',
 '239594',
 '251844',
 '236172',
 '242106',
 '234597',
 '238864',
 '245410',
 '264317',
 '249894',
 '245645',
 '251843',
 '257700',
 '235935',
 '261105',
 '258938',
 '235842',
 '238545',
 '240568',
 '247429',
 '246311',
 '261829',
 '255489',
 '239584',
 '246671',
 '233917',
 '245827',
 '240567',
 '252695',
 '253556',
 '264321',
 '274061',
 '265115',
 '269728',
 '268330',
 '265313',
 '274301',
 '274004',
 '268622',
 '274308',
 '266056',
 '268110',
 '267635',
 '275970',
 '269890',
 '270713',
 '264637',
 '265889',
 '265595',
 '268032',
 '269719',
 '271195',
 '269566',
 '274808',
 '266226',
 '271705',
 '270820',
 '266753',
 '271448',
 '273979',
 '271284',
 '268932',
 '266865',
 '268030',
 '266866']

In [325]:
# filters the ratings DataFrame to include only rows with user IDs that are in y—that is, 
# only ratings by users with more than 200 ratings.
ratings = ratings.filter(ratings.user_id.isin(user_id_list))

In [326]:
ratings.show(5)
print(ratings.count(), len(ratings.columns))

+-------+----------+------+
|user_id|      ISBN|rating|
+-------+----------+------+
| 277427|002542730X|    10|
| 277427|0026217457|     0|
| 277427|003008685X|     8|
| 277427|0030615321|     0|
| 277427|0060002050|     0|
+-------+----------+------+
only showing top 5 rows

526356 3

In [327]:
# join the ratings with books
ratings_with_books = ratings.join(books, on="ISBN", how="inner")

In [344]:
ratings_with_books.show(5)

+----------+-------+------+--------------------+----------------+----+--------------------+--------------------+
|      ISBN|user_id|rating|               title|          author|year|           publisher|           image_url|
+----------+-------+------+--------------------+----------------+----+--------------------+--------------------+
|0001048473|  23902|     0|Nothing Can Be Be...|Barns &amp; Budd|1996|            Atlantic|http://images.ama...|
|0001382381|  26583|     0|Huck Scarry's Ste...|     Huck Scarry|1979|HarperCollins Pub...|http://images.ama...|
|0001848445|  11676|     0| THE COAL HOUSE T/PB|   Andrew Taylor|1986|HarperCollins Pub...|http://images.ama...|
|0001848445| 131402|     0| THE COAL HOUSE T/PB|   Andrew Taylor|1986|HarperCollins Pub...|http://images.ama...|
|0001900277|  11676|     0|Glue (First Facts...|   Harriet Hains|1989|HarperCollins Pub...|http://images.ama...|
+----------+-------+------+--------------------+----------------+----+--------------------+--------------------+
only showing top 5 rows

In [329]:
print(ratings_with_books.count(), len(ratings_with_books.columns))

487685 8

In [330]:
from pyspark.sql.functions import count

# Group by 'title' and count the number of ratings for each title.
# In Spark, the result is already a DataFrame with columns (no need for a separate reset_index() as in Pandas).
number_rating = ratings_with_books.groupBy("title").agg(count("rating").alias("rating_num"))

In [ ]:
number_rating.show(5)

+--------------------+----------+
|               title|rating_num|
+--------------------+----------+
|Survival Guide to...|         1|
|     In the Clearing|         1|
|Too Many Men : A ...|         4|
|Emily Post's Wedd...|         1|
|Speculations: The...|         1|
|Cooking in a Beds...|         1|
|The Dream of the ...|         1|
|The Wizard's Holi...|         2|
|Madness and Sexua...|         1|
|Fallen Hero/the S...|         1|
|Last Train to Mem...|         2|
|   A Calculated Risk|        12|
|Sugar Busters! Sh...|         1|
|One Last Fling (T...|         1|
|Reilly'S Bride (S...|         1|
|Heart Versus Humb...|         1|
|A Baby By Christm...|         3|
|Bedroom Therapy (...|         4|
|   Let a Soldier Die|         1|
|Poison Penmanship...|         1|
+--------------------+----------+
only showing top 20 rows

In [332]:
print(number_rating.count(), len(number_rating.columns))

160280 2

In [333]:
ratings = ratings_with_books.join(number_rating, on="title", how="inner")

In [ ]:
ratings.show(5)

+--------------------+----------+-------+------+--------------+----+--------------------+--------------------+----------+
|               title|      ISBN|user_id|rating|        author|year|           publisher|           image_url|rating_num|
+--------------------+----------+-------+------+--------------+----+--------------------+--------------------+----------+
| A Light in the S...|0590567330|  35859|     0|   Karen Hesse|1999|Hyperion Books fo...|http://images.ama...|         2|
| A Light in the S...|0590567330|  96448|     9|   Karen Hesse|1999|Hyperion Books fo...|http://images.ama...|         2|
| Q-Space (Star Tr...|0671019155|  12538|     0|      Greg Cox|1998|           Star Trek|http://images.ama...|        12|
| Q-Space (Star Tr...|0671019155|  30276|     0|      Greg Cox|1998|           Star Trek|http://images.ama...|        12|
| Q-Space (Star Tr...|0671019155|  35859|     0|      Greg Cox|1998|           Star Trek|http://images.ama...|        12|
| Q-Space (Star Tr...|0671019155|  51386|     0|      Greg Cox|1998|           Star Trek|http://images.ama...|        12|
| Q-Space (Star Tr...|0671019155|  55492|     0|      Greg Cox|1998|           Star Trek|http://images.ama...|        12|
| Q-Space (Star Tr...|0671019155|  56447|     0|      Greg Cox|1998|           Star Trek|http://images.ama...|        12|
| Q-Space (Star Tr...|0671019155| 161752|     0|      Greg Cox|1998|           Star Trek|http://images.ama...|        12|
| Q-Space (Star Tr...|0671019155| 183196|    10|      Greg Cox|1998|           Star Trek|http://images.ama...|        12|
| Q-Space (Star Tr...|0671019155| 225199|     0|      Greg Cox|1998|           Star Trek|http://images.ama...|        12|
| Q-Space (Star Tr...|0671019155| 227447|     0|      Greg Cox|1998|           Star Trek|http://images.ama...|        12|
| Q-Space (Star Tr...|0671019155| 243077|     0|      Greg Cox|1998|           Star Trek|http://images.ama...|        12|
| Q-Space (Star Tr...|0671019155| 270713|     8|      Greg Cox|1998|           Star Trek|http://images.ama...|        12|
| This Place Has N...|0440987261|  28360|     0|Paula Danziger|1987|Random House Chil...|http://images.ama...|         7|
| This Place Has N...|0440987261|  31556|     0|Paula Danziger|1987|Random House Chil...|http://images.ama...|         7|
| This Place Has N...|0440987261|  95359|     9|Paula Danziger|1987|Random House Chil...|http://images.ama...|         7|
| This Place Has N...|0440987261| 162738|     0|Paula Danziger|1987|Random House Chil...|http://images.ama...|         7|
| This Place Has N...|0440987261| 216683|     0|Paula Danziger|1987|Random House Chil...|http://images.ama...|         7|
| This Place Has N...|0440987261| 238781|     0|Paula Danziger|1987|Random House Chil...|http://images.ama...|         7|
+--------------------+----------+-------+------+--------------+----+--------------------+--------------------+----------+
only showing top 20 rows

In [335]:
print(ratings.count(), len(ratings.columns))

487685 9

In [336]:
ratings = ratings.filter(ratings["rating_num"] >= 50)

In [337]:
ratings.show(5)

+--------------------+----------+-------+------+---------+----+---------+--------------------+----------+
|               title|      ISBN|user_id|rating|   author|year|publisher|           image_url|rating_num|
+--------------------+----------+-------+------+---------+----+---------+--------------------+----------+
|A Thin Dark Line ...|0553571885|   6323|     0|TAMI HOAG|1998|   Bantam|http://images.ama...|        61|
|A Thin Dark Line ...|0553571885|   7915|     0|TAMI HOAG|1998|   Bantam|http://images.ama...|        61|
|A Thin Dark Line ...|0553571885|  11601|     0|TAMI HOAG|1998|   Bantam|http://images.ama...|        61|
|A Thin Dark Line ...|0553571885|  28204|     0|TAMI HOAG|1998|   Bantam|http://images.ama...|        61|
|A Thin Dark Line ...|0553571885|  29259|     0|TAMI HOAG|1998|   Bantam|http://images.ama...|        61|
+--------------------+----------+-------+------+---------+----+---------+--------------------+----------+
only showing top 5 rows

In [338]:
print(ratings.count(), len(ratings.columns))

61853 9

In [339]:
ratings = ratings.dropDuplicates(['user_id', 'title']) # drop the duplicates with the same user_id / title

In [340]:
print(ratings.count(), len(ratings.columns))

59850 9

In [341]:
from pyspark.sql.functions import avg

# Pivot the table with user_id as columns, title as rows, and average rating as values
book_pivot = ratings.groupBy("title") \
                         .pivot("user_id") \
                         .agg(avg("rating")) \
                         .fillna(0)  # Optional: Replace nulls with 0